<header class="content-blur">
    <h2 class="LOGO">TASK MANAGER</h2>
    <nav class="navigation">
        <a href="/myTasks">my tasks</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/account">my account</a>
    </nav>
</header>