<div class="overdue-tasks ">
    <h2>Overdue tasks :</h2>
    <div class="task overdue-task High">
        <div class="overdue-name">
            <a href="#">
                <input type="checkbox" name="done-task" id="done-task">
            </a>
            <a href="#">
                <h3 class="overdue-title">task name 1</h3>
                <span class="task-due-time">12:00</span>
            </a>
        </div>
        <div class="overdue-details">
            <span class="task-due-date">27/04/2022</span>
            <div class="task-category">
                <ion-icon name="person"></ion-icon> 
                <span>work</span>
            </div>
        </div>
        <div class="overdue-btns">
            <a href="#"><button  class="reschedule">Reschedule</button></a>
            <a href="#"><button  class="remove">Remove</button></a>
        </div>
    </div>
</div>
<div class="today-tasks">
    <h2>Today tasks :</h2>
    <div class="task today-task Medium">
        <div class="today-name">
            <a href="#">
                <input type="checkbox" name="done-task" id="done-task">
            </a>
            <a href="#">
                <h3>task name 2</h3>
                <span class="task-due-time">14:00</span>
            </a>
        </div>
        <div class="today-details">
            <span class="task-due-date">29/04/2022</span>
            <span class="task-category"><ion-icon name="ellipse"></ion-icon> Personal</span>
        </div>
        <div class="today-btns">
            <a href="#"><button class="check">Check</button></a>
            <a data-taskid="id123"><button class="remove">Remove</button></a>
        </div>
    </div>
    <div class="task today-task Low">
        <div class="today-name">
            <a href="#">
                <input type="checkbox" name="done-task" id="done-task">
            </a>
            <a href="#">
                <h3>task name 3</h3>
                <span class="task-due-time">16:30</span>
            </a>
        </div>
        <div class="today-details">
            <span class="task-due-date">29/04/2022</span>
            <span class="task-category"><ion-icon name="cart"></ion-icon> Shopping</span>
        </div>
        <div class="today-btns">
            <a href="#"><button class="check">Check</button></a>
            <a href="#"><button class="remove">Remove</button></a>
        </div>
    </div>
</div>