<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header2.ejs') %>
</head>
<body>
    <%- include('./partials/navbar2.ejs') %>
    <div class="page-404">
        <h2>404 XD</h2>
        <p>nothing to see here</p>
    </div>
</body>
</html>