@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 99;

}

.LOGO {
    font-size: 2em;
    user-select: none;
    color: #fff;
}
.navigation a {
    position: relative;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all .4s ease 0s;
}
.navigation a:hover::after{
    transform: scaleX(1);
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background: #7CB9E8; */
    background: url(https://r4.wallpaperflare.com/wallpaper/492/574/386/blue-gray-gradation-blur-wallpaper-309035297f06be73a81fd7764bd60468.jpg);
    background-size: cover;
    background-position: center;
}
.navigation .btn-login-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: all .4s ease 0s;
}

.navigation .btn-login-popup:hover {
    background: #fff;
    color: #162938;
}
.wrapper {
    position: absolute;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(60px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height 0s ease;
    transform: scale(0);
}
.wrapper.active-popup {
    transform: scale(1);
    z-index: 999;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper.active {
    height: 520px;
}
.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.register {
    position: absolute;
    /* display: none; */
    transform: translateX(400px);
}
.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper h2 {
    font-size: 2.5em;
    color: #162938;
    text-align: center;
    font-weight: 700;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}


.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 400;
}
.input-box input::placeholder {
    font-size: 1em;
    color: #162938;
    font-weight: 200;
    padding-left: 5px;
}
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;

}

.remember-forgot {
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input {
    accent-color: #162938;
    margin-right: 10px;
}
.remember-forgot a {
    color: #162938;
    text-decoration: none;
    transition: .5s;
}
.remember-forgot a:hover {
    text-decoration: underline;
}
.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    transition: all .4s ease 0s;
}
.btn:hover {
    background: #fff;
    color: #162938;
}
.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register a {
    color: #162938;
    text-decoration: none;
    transition: .5s;
    font-weight: 550;
    cursor: pointer;
}
.login-register a:hover {
    text-decoration: underline;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2.5em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.index-container {
    position: absolute;
    width: 600px;
    left: 5%;
    top: 20%;
    font-size: 1.5em;
    font-weight: 500;
    color: #fff;
}

.content-blur.active-blur {
    filter: blur(5px);
}
span.register-message-danger {
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
    color: #fff;
    background-color: rgba(255, 68, 73, .2);
    backdrop-filter: blur(10px);
    position: absolute;
    top: -2%;
    border: 2px solid rgba(255, 255, 255, .5);
    padding: 20px 50px 5px 50px;
    margin-left: 10%;
    border-radius: 10px;
    transition: .4s;
}

span.login-message-success {
    margin-top: 0;
    margin-left: 5%;
    font-size: 1em;
    text-align: center;
    color: #fff;
    background-color: rgba(11, 156, 49, .2);
    backdrop-filter: blur(10px);
    position: absolute;
    top: -2%;
    border: 2px solid rgba(255, 255, 255, .5);
    padding: 20px 10px 5px 10px;
    border-radius: 10px;
    transition: .4s;
}

span.login-message-danger {
    margin-top: 0;
    margin-left: 15%;
    font-size: 1em;
    text-align: center;
    color: #fff;
    background-color: rgba(255, 68, 73, .2);
    backdrop-filter: blur(10px);
    position: absolute;
    top: -2%;
    border: 2px solid rgba(255, 255, 255, .5);
    padding: 20px 10px 5px 10px;
    border-radius: 10px;
    transition: .4s;
}